In [32]:
# Imports
import pandas
import json

In [22]:
raw_train = pandas.read_csv('train.csv')
raw_train.describe()

                id        budget   popularity      runtime       revenue
count  3000.000000  3.000000e+03  3000.000000  2998.000000  3.000000e+03
mean   1500.500000  2.253133e+07     8.463274   107.856571  6.672585e+07
std     866.169729  3.702609e+07    12.104000    22.086434  1.375323e+08
min       1.000000  0.000000e+00     0.000001     0.000000  1.000000e+00
25%     750.750000  0.000000e+00     4.018053    94.000000  2.379808e+06
50%    1500.500000  8.000000e+06     7.374861   104.000000  1.680707e+07
75%    2250.250000  2.900000e+07    10.890983   118.000000  6.891920e+07
max    3000.000000  3.800000e+08   294.337037   338.000000  1.519558e+09

In [9]:
raw_train.dtypes

id                         int64
belongs_to_collection     object
budget                     int64
genres                    object
homepage                  object
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity               float64
poster_path               object
production_companies      object
production_countries      object
release_date              object
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
Keywords                  object
cast                      object
crew                      object
revenue                    int64
dtype: object

In [30]:
cols_to_summarize = ["genres",  "original_language", "popularity",
                     "production_companies", "production_countries",
                     "release_date", "spoken_languages", "cast", "crew"]
for col in cols_to_summarize:
    print("============{}============".format(col))
    display(raw_train[col].dropna().head())
    display(raw_train[col].dropna().describe())

============genres============

0                       [{'id': 35, 'name': 'Comedy'}]
1    [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
2                        [{'id': 18, 'name': 'Drama'}]
3    [{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...
4    [{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...
Name: genres, dtype: object

count                              2993
unique                              872
top       [{'id': 18, 'name': 'Drama'}]
freq                                266
Name: genres, dtype: object

============original_language============

0    en
1    en
2    en
3    hi
4    ko
Name: original_language, dtype: object

count     3000
unique      36
top         en
freq      2575
Name: original_language, dtype: object

============popularity============

0     6.575393
1     8.248895
2    64.299990
3     3.174936
4     1.148070
Name: popularity, dtype: float64

count    3000.000000
mean        8.463274
std        12.104000
min         0.000001
25%         4.018053
50%         7.374861
75%        10.890983
max       294.337037
Name: popularity, dtype: float64

============production_companies============

0    [{'name': 'Paramount Pictures', 'id': 4}, {'na...
1          [{'name': 'Walt Disney Pictures', 'id': 2}]
2    [{'name': 'Bold Films', 'id': 2266}, {'name': ...
6    [{'name': 'Ghost House Pictures', 'id': 768}, ...
8    [{'name': 'Walt Disney Pictures', 'id': 2}, {'...
Name: production_companies, dtype: object

count                                          2844
unique                                         2383
top       [{'name': 'Paramount Pictures', 'id': 4}]
freq                                             51
Name: production_companies, dtype: object

============production_countries============

0    [{'iso_3166_1': 'US', 'name': 'United States o...
1    [{'iso_3166_1': 'US', 'name': 'United States o...
2    [{'iso_3166_1': 'US', 'name': 'United States o...
3              [{'iso_3166_1': 'IN', 'name': 'India'}]
4        [{'iso_3166_1': 'KR', 'name': 'South Korea'}]
Name: production_countries, dtype: object

count                                                  2945
unique                                                  321
top       [{'iso_3166_1': 'US', 'name': 'United States o...
freq                                                   1752
Name: production_countries, dtype: object

============release_date============

0     2/20/15
1      8/6/04
2    10/10/14
3      3/9/12
4      2/5/09
Name: release_date, dtype: object

count        3000
unique       2398
top       9/10/15
freq            5
Name: release_date, dtype: object

============spoken_languages============

0             [{'iso_639_1': 'en', 'name': 'English'}]
1             [{'iso_639_1': 'en', 'name': 'English'}]
2             [{'iso_639_1': 'en', 'name': 'English'}]
3    [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
4             [{'iso_639_1': 'ko', 'name': '한국어/조선말'}]
Name: spoken_languages, dtype: object

count                                         2980
unique                                         401
top       [{'iso_639_1': 'en', 'name': 'English'}]
freq                                          1817
Name: spoken_languages, dtype: object

============cast============

0    [{'cast_id': 4, 'character': 'Lou', 'credit_id...
1    [{'cast_id': 1, 'character': 'Mia Thermopolis'...
2    [{'cast_id': 5, 'character': 'Andrew Neimann',...
3    [{'cast_id': 1, 'character': 'Vidya Bagchi', '...
4    [{'cast_id': 3, 'character': 'Chun-soo', 'cred...
Name: cast, dtype: object

count     2987
unique    2975
top         []
freq        13
Name: cast, dtype: object

============crew============

0    [{'credit_id': '59ac067c92514107af02c8c8', 'de...
1    [{'credit_id': '52fe43fe9251416c7502563d', 'de...
2    [{'credit_id': '54d5356ec3a3683ba0000039', 'de...
3    [{'credit_id': '52fe48779251416c9108d6eb', 'de...
4    [{'credit_id': '52fe464b9251416c75073b43', 'de...
Name: crew, dtype: object

count                                                  2984
unique                                                 2984
top       [{'credit_id': '52fe464fc3a36847f80f816b', 'de...
freq                                                      1
Name: crew, dtype: object

In [68]:
import ast
def get_dictionary(s):
    try:
        d = ast.literal_eval(s)
    except ValueError as err:
        if not pandas.isna(s):
            print("get_dictionary error: {}".format(err))
        d = {}    
    return d

In [72]:
train = raw_train.copy()
cols_to_transform = ['production_companies', 'production_countries', 'genres',
                     'spoken_languages', 'cast', 'crew']
for col in cols_to_transform:
    train['{}_dict'.format(col)] = train[col].apply(get_dictionary)

In [81]:
import pprint
pp = pprint.PrettyPrinter(indent=4)
pp.pprint(train['cast_dict'][0][0])

{   'cast_id': 4,
    'character': 'Lou',
    'credit_id': '52fe4ee7c3a36847f82afae7',
    'gender': 2,
    'id': 52997,
    'name': 'Rob Corddry',
    'order': 0,
    'profile_path': '/k2zJL0V1nEZuFT08xUdOd3ucfXz.jpg'}

In [82]:
pp.pprint(train['crew_dict'][0][0])

{   'credit_id': '59ac067c92514107af02c8c8',
    'department': 'Directing',
    'gender': 0,
    'id': 1449071,
    'job': 'First Assistant Director',
    'name': 'Kelly Cantley',
    'profile_path': None}

In [ ]:
# Basic model
# Features: release year, release month, production_countries, popularity, budget