In [3]:
import pandas as pd
df1 = pd.DataFrame([['a', 1], ['b', 2]],
                   columns=['footer', 'number'])
df2 = pd.DataFrame([['c', 3], ['d', 4]],
                   columns=['letter', 'number'])
pd.concat([df1, df2])

  footer letter  number
0      a    NaN       1
1      b    NaN       2
0    NaN      c       3
1    NaN      d       4